{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<!--<div class="sp-body">-->
<!--    <div class="sp-body-title">-->
<!--        <h1>Contracts</h1>-->
<!--    </div>-->
<!--    <div class="sp-body-content">-->
<!--        <div class="row">-->
<!--            <div class="filter">-->
<!--                Filter by-->
<!--                <select>-->
<!--                    <option>All Active</option>-->
<!--                    <option>Non-Processed</option>-->
<!--                    <option>Accepted</option>-->
<!--                    <option>DOCK-Confirmed</option>-->
<!--                    <option>Appointment-Confirmed</option>-->
<!--                    <option>Delivery-Confirmed</option>-->
<!--                    <option>Canceled</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="login-form-div">

    <h1 class="text-center">Change Password</h1>
    <hr>
    <form>
         <div class="form-group">
            <label for="login-username">Old Password</label>
            <input type="password" class="form-control" id="login-username" placeholder="Enter current Password">
        </div>
        <div class="form-group">
            <label for="login-password">New Password</label>
            <input type="password" class="form-control" id="login-password" placeholder="New password">
        </div>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>
{% endblock %}