{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}

<div class="sp-body">
    <div class="contact-body-title" >
      <h2>Add Contacts Here</h2>

    </div>
    <br>
    <form method="POST">
        {% csrf_token %}

        <div class="form-inline" >
            <label for="f_name" class="col-sm-4 col-form-label">First Name:</label>
                <input name=f_name type="text" class="form-control" id="f_name">
        </div>
        <div class="form-inline" >
            <label for="l_name" class="col-sm-4 col-form-label">Last Name:</label>
            <input name="l_name" type="text" class="form-control" id="l_name">
        </div>
        <div class="form-inline" >
            <label for="mob_no"class="col-sm-4 col-form-label">Mobile Number:</label>
                <input name="mob_no" type="text" class="form-control" id="mob_no">
        </div>
        <div class="form-inline" >
            <label for="off_no"class="col-sm-4 col-form-label">Office Phone:</label>

            <input name="off_no" type="text" class="form-control" id="off_no">

            <label for="o_ext">Ext:</label>
            <input name="o_ext" type="text" class="form-control" id="o_ext">
        </div>
        <div class="form-inline" >
            <label for="fax"class="col-sm-4 col-form-label">Fax:</label>
            <input name="fax" type="text" class="form-control" id="fax">
        </div>
        <div class="form-inline">
                    <label for="addr" class="col-sm-4 col-form-label">Address :</label>
                    <input name= "addr" type="text" class="form-control" id="addr">
                </div>
        <div class="form-inline" >
            <label for="email"class="col-sm-4 col-form-label">Email address:</label>
            <input name=email type="text" class="form-control" id="email">
        </div>
        <div class="form-inline">
                    <label  for="country"class="col-sm-4 col-form-label">Country</label>
                        <select name="country" type="text" class="form-control" id="country">
                            <option selected>Choose...</option>
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="China">China</option>
                            <option value="India">India</option>
                        </select>
                    <label for="city" >City:</label>
                    <input name="city" type="text" class="form-control" id="city">
        </div>
        <div class="form-inline">
                    <label for="state"class="col-sm-4 col-form-label">State:</label>
                    <input name="state" type="text" class="form-control" id="state">
                    <label for="zip">Zip:</label>
                    <input name="zip" type="text" class="form-control" id="zip">
        </div>
        <br><br>
        <div class="form-button">
                <button type="submit" class="btn btn-primary" >Save</button>
                <button type="cancel" class="btn btn-primary">Cancel</button>

        </div>
    </form>
</div>
{% endblock %}