{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<div class="sp-body">
    <div class="sp-body-title">
        <h1>Contracts</h1>
    </div>
    {{filter_param}}
    <div class="sp-body-content">
        <div class="contracts-row">
            <div class="contracts-row-filter">
                Filter by
                <select id="filter-by" onchange="filterChanged();">
                    <option value="all">All</option>
                    <option value="dock-confirmed">
                        DOCK-Confirmed</option>
                    <option value="appt-confirmed">
                        Appointment-Confirmed</option>
                    <option value="delivery-confirmed">
                        Delivery-Confirmed</option>
                    <option value="canceled">Canceled</option>
                </select>
            </div>
            <div class="contracts-row-boxes float-right">
                <div class="box box-yellow"></div><small>Deadline Approaching</small>
                <div class="box box-red"></div><small>Deadline Missed</small>
                <div class="box box-green"></div><small>Delivery Confirmed</small>
            </div>
        </div>

        <table class="table table-bordered contracts-table">
            <thead class="contracts-table-header">
                <tr>
                    <th scope="col">Contract #</th>
                    <th scope="col">Terminal</th>
                    <th scope="col">Service</th>
                    <th scope="col">Service Provider</th>
                    <th scope="col">Consignee Name</th>
                    <th scope="col">ETA DOCK</th>
                    <th scope="col">DOCK Confirmed</th>
                    <th scope="col">Appt Confirmed</th>
                    <th scope="col">Delivery Confirmed</th>
                    <th scope="col">Canceled</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}
                <tr>
                    <th scope="row"><a href="{% url 'sp:contracts_details' contract.id %}">{{ contract.num }}</a>
                    </th>
                    <td>{{ contract.terminal }}</td>
                    <td>{{ contract.service }}</td>
                    <td>{{ contract.service_provider }}</td>
                    <td>{{ contract.consignee_name }}</td>
                    <td>{% firstof contract.eta_dock|date:'Y-m-d H:i' '' %}</td>
                    <td>{{ contract.dock_confirmed }}</td>
                    <td>{{ contract.appointment_confirmed }}</td>
                    <td>{{ contract.delivery_confirmed }}</td>
                    <td>{{ contract.is_canceled }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}