{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<div class="contracts-details-header sp-body">
    <div class="contracts-details-header-main">
        <h3>Contract #: {{ contract.num }}</h3>
        <p>Status: <span>{{ contract.status }}</span></p>
        <p><a href="{% url 'sp:milestones' contract.id %}">see Milestones</a></p>
    </div>
    <div class="contracts-details-header-minor">
        <ul>
            <li>Account ID #: {{ contract.account_id_num }}123</li>
            <li>Account Name: {{ contract.account_name }}</li>
            <li>Account Ref #: {{ contract.account_ref_num }}</li>
            <li>Service: {{ contract.service }}</li> <!-- Final Mile Only-->
            <li>Service Type: <u>{{ contract.service_type }}</u></li>
            <!--Signature Plus-->
            <li>Status: {{ contract.status }}</li>
            <li>Booker Name: {{ contract.booker_name }}</li>
            <li>Terminal: {{ contract.terminal }}</li>
            <li>Contract Entered Date: {{ contract.time_added }}</li>
        </ul>
    </div>

    <hr>

    <div class="contracts-update">
        <div class="contracts-update-major">
            <a href="#" class="btn btn-secondary">DOCK-Confirmed</a>
            <a href="#" class="btn btn-secondary">Appointment-Confirmed</a>
            <a href="#" class="btn btn-secondary">Delivery-Confirmed</a>
        </div>
        <div class="contracts-update-minor">
            <h3>Minor Updates</h3>
            <form>
                <select name="minor-update-event">
                    <option value="">-- select an update --</option>
                    <option>Attempted Delivery - Item Refused</option>
                    <option>Attempted Delivery - Location Inaccessible</option>
                    <option>Attempted Delivery - Nobody Home</option>
                    <option>Bad Phone Number</option>
                    <option>Contacted Consignee - Delivery Scheduled</option>
                    <option>Contacted Consignee - Awaiting Consignee Instruction</option>
                    <option>Delivered at Consignee - No Exception Noted</option>
                    <option>Delivered at Consignee With Damage</option>
                    <option>Delivered at Consignee With Overage</option>
                    <option>Delivered at Consignee With Shortage</option>
                </select>
                <input type="text" id="minor-update-datetime" name="minor-update-datetime"
                    placeholder="DD/MM/YYYY HH:MM AM/PM">
                <input type="submit" class="btn btn-primary" value="Add Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}