{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<div class="sp-body">
    <div class="sp-body-title">
        <h1>Contracts</h1>
    </div>
    <div class="sp-body-content">
        <div class="contracts-row">
            <div class="contracts-row-filter">
                Filter by
                <select>
                    <option>All Active</option>
                    <option>Non-Processed</option>
                    <option>Accepted</option>
                    <option>DOCK-Confirmed</option>
                    <option>Appointment-Confirmed</option>
                    <option>Delivery-Confirmed</option>
                    <option>Canceled</option>
                </select>
            </div>
            <div class="contracts-row-boxes float-right">
                <div class="box box-yellow"></div><small>Deadline Approaching</small>
                <div class="box box-red"></div><small>Deadline Missed</small>
                <div class="box box-green"></div><small>Delivery Confirmed</small>
            </div>
        </div>

        <table class="table contracts-table">
            <thead class="contracts-table-header">
                <tr>
                    <th scope="col">Contract #</th>
                    <th scope="col">Terminal</th>
                    <th scope="col">Service</th>
                    <th scope="col">Service Provider</th>
                    <th scope="col">Consignee Name</th>
                    <th scope="col">ETA DOCK</th>
                    <th scope="col">DOCK Confirmed</th>
                    <th scope="col">Appointment Confirmed</th>
                    <th scope="col">Delivery Confirmed</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}