{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<div class="contracts-details-header sp-body">
    <div class="contracts-details-header-main">
        <h3>Contract #: {{ contract.num }}</h3>
        <p>Status: <span>{{ contract.status }}</span></p>
        <p><a href="{% url 'sp:milestones' contract.id %}">see Milestones</a></p>
    </div>
    <div class="contracts-details-header-minor">
        <div class="row">
            <div class="col-6">
                <ul>
                    <li><b>Account ID #:</b> {{ contract.account_id_num }}123</li>
                    <li><b>Account Ref #:</b> {{ contract.account_ref_num }}</li>
                    <li><b>Service Type:</b> <u>{{ contract.service_type }}</u></li>
                    <li><b>Booker Name:</b> {{ contract.booker_name }}</li>
                    <li><b>Contract Entered Date:</b> {{ contract.time_added }}</li>
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li><b>Account Name:</b> {{ contract.account_name }}</li>
                    <li><b>Service:</b> {{ contract.service }}</li> <!-- Final Mile Only-->
                    <li><b>Status:</b> {{ contract.status }}</li>
                    <!--Signature Plus-->
                    <li><b>Terminal:</b> {{ contract.terminal }}</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="contracts-update">
        <h3>Updates</h3>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <select name="update-event" id="update-select" onchange="updateFormChanged();">
                <option value="">-- select an update --</option>
                <option value="dock-confirmed">DOCK-Confirmed</option>
                <option value="appt-confirmed">Appointment-Confirmed</option>
                <option value="delivery-confirmed">Delivery-Confirmed</option>
                <option value="ad-ir">Attempted Delivery - Item Refused</option>
                <option value="ad-li">Attempted Delivery - Location Inaccessible</option>
                <option value="ad-nh">Attempted Delivery - Nobody Home</option>
                <option value="bpn">Bad Phone Number</option>
                <option value="cc-ds">Contacted Consignee - Delivery Scheduled</option>
                <option value="css-aci">Contacted Consignee - Awaiting Consignee Instruction</option>
                <option value="dac-nen">Delivered at Consignee - No Exception Noted</option>
                <option value="dacwd">Delivered at Consignee With Damage</option>
                <option value="dacwo">Delivered at Consignee With Overage</option>
                <option value="dacws">Delivered at Consignee With Shortage</option>
            </select>
            <input type="text" id="update-datetime" name="update-datetime" placeholder="YYYY/MM/DD HH:MM" required>
            <div id="form-add-div"></div>
            <p><input type="submit" class="btn btn-primary margin-top-tiny" value="Add Update"></p>
        </form>
        {% if messages %}
        {% for msg in messages %}
        <div class="{{ msg.tags }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}