{% extends 'partials/sp_base.html' %}

{% block title %}SBA | Index{% endblock %}

{% block content %}
<div class="sp-body">

    <div class="title" align="center">
        Contacts List
        <a  class="btn btn-primary btn-lg active" href="{% url 'sp:contacts'%}" >+</a>
    </div>
    <div class="sp-body">
        <div class="list-group">
            {% for contact in contacts  %}
            <br>
            <a href=""class="list-group-item list-group-item-action action">{{contact.name}} </a>
            {{ post }}
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}
