<h2>Contract ID: {{ contract_num }}</h2>

<!-- show DOCK/APPT/.. confirmed here if confirmed-->
{% if dock_confirmed_obj %}
<span style="color: green;">&#10003; DOCK-confirmed</span>
{% else %}
<span style="color: grey;">&#10003; DOCK-confirmed</span>
{% endif %}
&nbsp;->&nbsp;
{% if appt_confirmed_obj %}
<span style="color: green;">&#10003; Appointment-confirmed</span>
{% else %}
<span style="color: grey;">&#10003; Appointment-confirmed</span>
{% endif %}
&nbsp;->&nbsp;
{% if delivery_confirmed_obj %}
<span style="color: green;">&#10003; Delivery-confirmed</span>
{% else %}
<span style="color: grey;">&#10003; Delivery-confirmed</span>
{% endif %}
<br><br><br>

<!-- Contract updates below -->

{% if contract_updates == None %}
<p>No updates added.</p>
{% endif %}

{% for contract_update in contract_updates %}
<p><span style="color:#4D6D9A;font-weight:bolder;">{{ contract_update.event_name }}</span> @
    {{ contract_update.event_time }}</p>
<p>added into system by <b>{{ contract_update.author }}</b> at {{ contract_update.time_added }}.</p>
<hr>
{% endfor %}