<nav class="navbar sp-navbar">
    <a href="#">Contracts</a>
    <div class="dropdown show">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Service Provider
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Details</a>
            <a class="dropdown-item" href="#">Contacts</a>
            <a class="dropdown-item" href="#">Notes</a>
        </div>
    </div>
</nav>