{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- FontAwesome and Google Fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom CSS -->
    <link href="{% sass_src 'scss/main.scss' %}" type="text/css" rel="stylesheet"> <!-- loading from SP app -->

</head>

<body id="page-top">
    {% include 'partials/top_header.html' %}
    {% include 'partials/nav.html' %}
    {% block content %}

    {% endblock %}

    <!-- Bootstrap core JQuery and JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScripts -->
    <script src=""></script>

</body>

</html>