@import "bootstrap.scss";

// Brand colors: $brand_blue, $brand_grey, $brand_purple, $brand_teal, $brand_pink

/*******************************/
/**** BOOTRSTRAP OVERWRITE******/
/*******************************/
.btn-primary {
    color: #fff;
    background-color: $brand_blue;
    border-color: $brand_blue; 

    .btn-primary:hover {
        color: #fff;
        background-color: $brand_teal;
        border-color: $brand_teal; 
    }
}

/*********************/
/**** LOGIN **********/
/*********************/
.login-form-div{
    width: 420px;
    height: auto;
    border: 1px solid $brand_grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    box-shadow: 1.5px 3px $brand_grey;
}

/****************************/
/**** SP_BASE.HTML **********/
/****************************/
.top-header-links {
    a{
        margin-left: 5px;
        margin-right: 10px;
    }
}

.sp-navbar{
    justify-content: flex-start;
    background-color: $brand_blue;
    height: 50px;

    a{
        margin-right: 20px;
        color: #fff;
    }
}

.sp-body{
    padding: 20px 20px 0 20px;

    &-content{

    }


}