@import "bootstrap.scss";

// Brand colors: $brand_blue, $brand_grey, $brand_purple, $brand_teal, $brand_pink

/*******************************/
/**** BOOTRSTRAP OVERWRITE******/
/*******************************/
.btn-primary {
    color: #fff;
    background-color: $brand_blue;
    border-color: $brand_blue; 

    .btn-primary:hover {
        color: #fff;
        background-color: $brand_teal;
        border-color: $brand_teal; 
    }
}

.btn-secondary {
    color: #fff;
    background-color: $brand_teal;
    border-color: $brand_teal; 

    // .btn-secondary:hover {
    //     color: #fff;
    //     background-color: $brand_teal;
    //     border-color: $brand_teal; 
    // }
}

.dropdown-menu{
    background-color: $brand_blue;
    //border: 1px solid $brand_blue;
}

/*********************/
/**** LOGIN **********/
/*********************/
.login-form-div{
    width: 420px;
    height: auto;
    border: 1px solid $brand_grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    box-shadow: 1.5px 3px $brand_grey;
}

/****************************/
/**** SP_BASE.HTML **********/
/****************************/
.top-header-links {
    a{
        margin-left: 5px;
        margin-right: 10px;
    }
}

.sp-navbar{
    justify-content: flex-start;
    background-color: $brand_blue;
    height: 50px;

    a{
        margin-right: 20px;
        color: #fff;
    }
}

.sp-body{
    padding: 20px 20px 40px 20px;

    &-content{

    }
}

/****************************/
/**** Contracts.html **********/
/****************************/

.box{
    width: 20px;
    height: 20px;
    display: inline-block;

    &-yellow{
        background-color: yellow;
    }

    &-red{
        background-color: red;
    }

    &-green{
        background-color: green;
    }
}

.contracts-row-filter{
    display: inline-block;
}

.contracts-row-boxes{
    display: inline-block;

    div{
        margin-left: 8px;
    }

    small{
    }
}

.contracts-table{
    margin-top: 25px;
    text-align: center;

    &-header{
        background-color: $brand_grey;
        color: #fff;
        font-size: 75%;
    }
}

/****************************/
/**** contracts_details.html **********/
/****************************/
.contracts-details-header{

    *-main{
        background-color: black;
        h4{margin-bottom: 0;}
        p{margin-bottom: 0;}
    }

    *-minor{
        display: inline-block;
        margin-top: 20px;
    }
}

#minor-update-datetime{
    width: 250px;
}