{% extends 'partials/base.html' %}
{% block title %}SBA | Login{% endblock %}

{% block content %}
<div class="login-form-div">
    <h1 class="text-center">Reset Password</h1>
    <hr>
    <form>
         <div class="form-group">
            <label for="reset-email">Email Address</label>
            <input type="email" class="form-control" id="reset-email" placeholder="Enter email">
        </div>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>
{% endblock %}